body {
    margin: auto;
    width: 1080px;
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 48px;
    padding-bottom: 48px;
    background: rgb(30, 30, 30);
    text-align: left;
}

p {
    color: rgb(192, 192, 192);
    margin: 16px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 175%;
}

.ulisting {
    color: rgb(192, 192, 192);
    margin: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 175%;
}

.centered {
    text-align: center;
}

.rainbow-letters {
    background: linear-gradient(to right, #d12d2a, #613aa3, #2196f3, #43a047, #adb91f, #c2821c, #d12d2a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    background: linear-gradient(to right, #d12d2a, #613aa3, #2196f3, #43a047, #adb91f, #c2821c, #d12d2a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 48px;
    text-align: center;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Cascadia Code';
    font-size: 48px;
    font-weight: bolder;
}

.section-head {
    margin-left: 0px;
    margin-top: 24px;
    margin-bottom: 24px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Cascadia Code';
    font-size: 36px;
    font-weight: bolder;
}
